p {
    word-break: break-all;
    white-space: normal;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    border-color: darkslategray;

}

h1{
    border-radius: 5px;
    border-style: solid;
    border-color: darkslategray;
    padding: 10px;
    text-align:center;

}

#password-box {
    border-radius: 5px;
    border-style: solid;
    border-color: darkslategray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;


}

html {
    background-image: linear-gradient(
  150deg,
  hsl(240deg 90% 96%) 0%,
  hsl(320deg 8% 93%) 9%,
  hsl(46deg 45% 91%) 18%,
  hsl(50deg 67% 89%) 26%,
  hsl(53deg 79% 86%) 33%,
  hsl(54deg 87% 83%) 40%,
  hsl(59deg 79% 80%) 47%,
  hsl(71deg 77% 78%) 53%,
  hsl(82deg 76% 78%) 58%,
  hsl(93deg 75% 77%) 63%,
  hsl(105deg 74% 76%) 68%,
  hsl(116deg 73% 75%) 73%,
  hsl(103deg 57% 70%) 77%,
  hsl(76deg 39% 64%) 81%,
  hsl(45deg 39% 61%) 85%,
  hsl(25deg 50% 62%) 90%,
  hsl(12deg 59% 62%) 95%,
  hsl(0deg 66% 62%) 100%
);
background-size: cover;  
background-repeat: no-repeat;
}

/* https://www.joshwcomeau.com/gradient-generator?colors=ebebfe|faf3a3|8eed8e|de5d5d&angle=150&colorMode=lab&precision=14&easingCurve=0.6896551724137931|0.5691675646551724|0.75|0.25 */